ansible
ansible-core
ansible-lint
ansible-pylibssh
attrs
black
bracex
cffi
click
cryptography
docx
filelock
flake8
Jinja2
jsonschema
lxml
markdown-it-py
MarkupSafe
mccabe
mdurl
mypy
mypy-extensions
packaging
pathspec
Pillow
platformdirs
pycodestyle
pycparser
pyflakes
Pygments
pyrsistent
python-docx
PyYAML
resolvelib
rich
ruamel.yaml
ruamel.yaml.clib
subprocess-tee
tomli
types-PyYAML
typing_extensions
wcmatch
yamllint
black
flake8
mypy
pytest
isort
bandit
pylint
autopep8
yapf
